@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

html {
    scroll-behavior: smooth;
}

* {
    font-family: 'Open Sans', sans-serif;
}

span {
    font-family: inherit;
    font-weight: inherit;
}

.bgGrid {
    background-size: 40px 40px;
    background-image: linear-gradient(to right, darkgray 1px, transparent 1px), linear-gradient(to bottom, darkgray 1px, transparent 1px);
}

button,
.button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: white;
    cursor: pointer;
    transition: border-color 0.2s;
}